@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400&display=swap');

.bioText {
    display: inline-block;
    font-family: 'Lexend', sans-serif;
    text-align: left;
    font-weight: 300;
    width: 60%;
    overflow: hidden;
    font-size: larger;
    padding-top: 1%;
}